@import '~bootstrap/scss/bootstrap';
$appbgcolor: #181c1c;
$textcolor: #F1FAEE;
$redcolor: #E63946;

.container-content {
    margin-top: 1.5rem;
    width: 100%;
    // background-color: black;
    border-radius: 15px;
    // background-color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    gap: 1rem;

    .obsmove {
        transition-duration: .3s;
        transform: scale(1.2)
    }

    .content-top {

        display: flex;
        justify-content: center;
        width: 230px;
        position: relative;
        flex-wrap: wrap;


        .top-cloud {
            width: 150px;

        }

        .top-temp {

            position: absolute;
            right: 0;
            top: -.7rem;
            // font-size: 4.5rem;
            font-weight: 800;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: white;
            border-radius: 10px;
            font-size: 2.7rem;
        }

    }

    .content-mid {
        width: 220px;

        // background-color: green;

        display: flex;
        justify-content: center;
        align-items: flex-start;

        .mid-wind {

            flex-basis: 33.33%;
            height: 5rem;
            // background-color: peru;
            position: relative;
            color: rgba($color: #ffffff, $alpha: .7);

            display: flex;
            justify-content: center;
            align-items: center;

            .wind-icon {
                position: absolute;
                top: 1.8rem;
                left: 8%;
                font-size: 1rem;
            }

            .wind-value {

                font-size: 1.7rem;

            }

            .wind-direction {
                position: absolute;
                top: 2.9rem;
                left: 24%;
                font-size: 1.2rem;

            }

            .wind-mph {
                position: absolute;
                top: .8rem;
                right: 7%;
                font-size: .7rem;
            }

        }

        .mid-rain {

            flex-basis: 33.33%;
            height: 5rem;
            // background-color: peru;
            position: relative;
            color: rgba($color: #ffffff, $alpha: .7);

            display: flex;
            justify-content: center;
            align-items: center;

            .rain-icon {
                position: absolute;
                top: 1.8rem;
                left: 4%;
                font-size: 1rem;
            }

            .rain-value {
                position: relative;

                font-size: 1.7rem;


            }

            .rain-chance {
                position: absolute;
                top: 2.9rem;
                left: 15%;
                font-size: 1.2rem;

            }

            .rain-per {
                position: absolute;

                top: .6rem;
                right: 13%;
                font-size: 1rem;
            }
        }

        .mid-humidity {

            flex-basis: 33.33%;
            height: 5rem;
            // background-color: peru;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            color: rgba($color: #ffffff, $alpha: .7);

            .humidity-icon {
                position: absolute;
                top: 1.8rem;
                left: 10%;
                font-size: 1rem;
            }

            .humidity-value {
                position: relative;
                font-size: 1.7rem;

            }

            .humidity-name {
                position: absolute;
                top: 2.9rem;
                left: 12%;
                font-size: 1.1rem;

            }

            .humidity-per {
                position: absolute;
                top: .6rem;
                right: 13%;
                font-size: 1rem;
            }

        }





    }

    .content-bottom {
        // margin-top: -1rem;
        width: 250px;
        // height: 5rem;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        // background-color: blue;

        .bottom-icon {
            flex-basis: 100%;
            font-size: 4rem;
        }

        .bottom-value {
            margin-top: .5rem;
            flex-basis: 100%;
            font-size: 1.7rem;

            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba($color: #ffffff, $alpha: .7)
        }
    }







}

@media(min-width:576px) {
    .container-content {
        margin-top: .5rem;
        width: 100%;
        // background-color: black;
        border-radius: 15px;
        // background-color: white;

        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: white;
        gap: 2rem;

        .content-top {
            display: flex;
            justify-content: center;
            width: 330px;
            position: relative;
            flex-wrap: wrap;



            .top-cloud {
                width: 210px;

            }

            .top-temp {

                position: absolute;
                right: 3rem;
                top: .5rem;
                // font-size: 4.5rem;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
                // background-color: white;
                border-radius: 10px;
                font-size: 2.7rem;
            }

        }

        .content-mid {
            width: 270px;

            // background-color: green;

            display: flex;
            justify-content: center;
            align-items: flex-start;

            .mid-wind {

                flex-basis: 33.33%;
                height: 5rem;
                // background-color: peru;
                position: relative;
                color: rgba($color: #ffffff, $alpha: .7);

                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: black;


                .wind-icon {
                    position: absolute;
                    top: 1.5rem;
                    left: 8%;
                    font-size: 1.5rem;
                }

                .wind-value {

                    font-size: 2rem;

                }

                .wind-direction {
                    position: absolute;
                    top: 3.2rem;
                    left: 27%;
                    font-size: 1.2rem;

                }

                .wind-mph {
                    position: absolute;
                    top: .5rem;
                    right: 10%;
                    font-size: 1rem;
                }

            }

            .mid-rain {

                flex-basis: 33.33%;
                height: 5rem;
                // background-color: peru;
                position: relative;
                color: rgba($color: #ffffff, $alpha: .7);

                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: black;

                .rain-icon {
                    position: absolute;
                    top: 1.5rem;
                    left: 4%;
                    font-size: 1.5rem;
                }

                .rain-value {
                    position: relative;

                    font-size: 1.7rem;


                }

                .rain-chance {
                    position: absolute;
                    top: 3.2rem;
                    left: 22%;
                    font-size: 1.2rem;

                }

                .rain-per {
                    position: absolute;

                    top: .6rem;
                    right: 15%;
                    font-size: 1.3rem;
                }
            }

            .mid-humidity {

                flex-basis: 33.33%;
                height: 5rem;
                // background-color: peru;
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                color: rgba($color: #ffffff, $alpha: .7);
                // background-color: black;

                .humidity-icon {
                    position: absolute;
                    top: 1.5rem;
                    left: 10%;
                    font-size: 1.5rem;
                }

                .humidity-value {
                    position: relative;
                    font-size: 1.7rem;

                }

                .humidity-name {
                    position: absolute;
                    top: 3.2rem;
                    left: 19%;
                    font-size: 1.2rem;

                }

                .humidity-per {
                    position: absolute;
                    top: .6rem;
                    right: 17%;
                    font-size: 1.3rem;
                }

            }





        }

        .content-bottom {
            // margin-top: 1rem;
            width: 250px;
            // height: 5rem;

            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            // background-color: blue;

            .bottom-icon {
                flex-basis: 100%;
                font-size: 4.5rem;
            }

            .bottom-value {
                margin-top: .5rem;
                flex-basis: 100%;
                font-size: 2rem;

                display: flex;
                justify-content: center;
                align-items: center;
                color: rgba($color: #ffffff, $alpha: .7)
            }
        }







    }
}

@media(min-width:992px) {
    .container-content {

        margin-top: .9rem;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        // background-color: black;
        border-radius: 15px;
        // background-color: white;

        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: white;
        gap: 2rem;
        // margin: 0;
        // padding: 0;

        .content-top {
            display: flex;
            justify-content: center;
            width: 380px;
            position: relative;
            top: 0;
            left: 0;
            flex-wrap: wrap;
            // background-color: orange;



            .top-cloud {
                width: 290px;

            }

            .top-temp {

                position: absolute;
                right: 2rem;
                top: .5rem;
                // font-size: 4.5rem;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
                // background-color: white;
                border-radius: 10px;
                font-size: 3.8rem;
            }

        }

        .content-mid {
            width: 400px;

            // background-color: green;

            display: flex;
            justify-content: center;
            align-items: flex-start;

            .mid-wind {

                flex-basis: 33.33%;
                height: 8rem;
                // background-color: peru;
                position: relative;
                color: rgba($color: #ffffff, $alpha: .7);

                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .wind-icon {
                    position: absolute;
                    top: 3rem;
                    left: 1.5rem;
                    font-size: 1.7rem;
                }

                .wind-value {
                    flex-basis: 100%;
                    font-size: 3rem;

                    display: flex;
                    justify-content: center;

                }

                .wind-direction {
                    position: absolute;
                    top: 5rem;
                    left: 27%;
                    // top: 5rem;

                    font-size: 1.8rem;


                }

                .wind-mph {
                    position: absolute;
                    top: 1rem;
                    right: 1.4rem;
                    font-size: 1.2rem;
                }

            }

            .mid-rain {

                flex-basis: 33.33%;
                height: 8rem;
                // background-color: peru;
                position: relative;
                color: rgba($color: #ffffff, $alpha: .7);

                display: flex;
                justify-content: center;
                align-items: center;

                .rain-icon {
                    position: absolute;
                    top: 3rem;
                    left: 1.1rem;
                    font-size: 1.7rem;
                }

                .rain-value {
                    position: relative;

                    font-size: 2.7rem;


                }

                .rain-chance {
                    position: absolute;
                    top: 5rem;
                    left: 18%;
                    font-size: 1.8rem;


                }

                .rain-per {
                    position: absolute;

                    top: .7rem;
                    right: 1.5rem;
                    font-size: 1.7rem;
                }
            }

            .mid-humidity {

                flex-basis: 33.33%;
                height: 8rem;
                // background-color: peru;
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                color: rgba($color: #ffffff, $alpha: .7);

                .humidity-icon {
                    position: absolute;
                    top: 3rem;
                    left: 1.3rem;
                    font-size: 1.7rem;
                }

                .humidity-value {
                    position: relative;
                    font-size: 2.7rem;


                }

                .humidity-name {
                    position: absolute;
                    top: 5rem;
                    left: 10%;
                    font-size: 1.8rem;
                }

                .humidity-per {
                    position: absolute;
                    top: .7rem;
                    right: 1.5rem;
                    font-size: 1.7rem;
                }

            }





        }

        .content-bottom {
            margin-top: 1rem;
            width: 400px;
            // height: 5rem;

            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            // background-color: blue;

            .bottom-icon {
                flex-basis: 100%;
                font-size: 5rem;
            }

            .bottom-value {

                flex-basis: 100%;
                font-size: 2rem;

                display: flex;
                justify-content: center;
                align-items: center;
                color: rgba($color: #ffffff, $alpha: .7)
            }
        }


    }
}